.forActions{
    color: blue;
    background-color: rgba(0,0,0,0);
    
}
.forActions:hover {
    background-color: rgba(0,0,0,0);
  }

 .forActions :active,
.forActions:focus {
  outline: none;
  background-color: rgba(0,0,0,0);
}

.forActions:focus:not(:active) {
    box-shadow:  #FFFFFF 0 0 0 0;
  }

  #forNewTodo{
    position:absolute;
    text-align: left;
    align-items:right;
    right: 2em;
    display: flex;
    top:15em;
    margin-top: 1em;
    overflow-x: hidden;
    overflow-y: hidden;
    border-radius: 1.5em;
}